{% macro render_field_with_errors(field) %}
    {% if not field.errors %}
    <div class="form-group">
        <label for="{{ field.id }}"><strong>{{ field.label }}</strong></label>
        {{ field(class='form-control', **kwargs) | safe }}
    </div>
    {% else %}
    <div class="form-group">
        <label for="{{ field.id }}"><strong>{{ field.label }}</strong></label>
        {{ field(class='form-control is-invalid', **kwargs) | safe }}
        {% for error in field.errors %}
        <div id="{{ field.id }}" class='invalid-feedback'>
            {{ error }}
        </div>
        {% endfor %}
        
    </div>

    {% endif %}
{% endmacro %}


{% macro render_shortfield_with_errors(field) %}
    {% if not field.errors %}
    <div class="form-group col-md-6">
        <label for="{{ field.id }}"><strong>{{ field.label }}</strong></label>
        {{ field(class='form-control', **kwargs) | safe }}
    </div>
    {% else %}
    <div class="form-group col-md-6">
        <label for="{{ field.id }}"><strong>{{ field.label }}</strong></label>
        {{ field(class='form-control is-invalid', **kwargs) | safe }}
        {% for error in field.errors %}
        <div id="{{ field.id }}" class='invalid-feedback'>
            {{ error }}
        </div>
        {% endfor %}
        
    </div>

    {% endif %}


{% endmacro %}




{% macro render_sitem(endpoint, display, active='') %}
    <li {% if request.endpoint == endpoint or active == endpoint %} class='active nav-item' {% else %} class='nav-item' {% endif %}>
        <a class='nav-link' href="{{ url_for(endpoint) }}">{{ display }} <span class="sr-only">(current)</span></a>
    </li>
{% endmacro %}